//
//  private_tool.xcconfig
//  cctools
//
//  Created by Michael Trent on 12/21/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// private utilities install in /usr/local/bin
INSTALL_PATH = ${CCTOOLS_USRLOCALBIN}

// some tools currently require the LTO_SUPPORT macro to be defined in order to
// compile support for LTO. This is built non-conditionally, and can probably
// be factored out of the source code at some future point.
CCTOOLS_C_FLAGS_LTO = -DLTO_SUPPORT

OTHER_CFLAGS = ${inherited} ${CCTOOLS_C_FLAGS_LTO}

// MacOS and Xcode default toolchain binaries are built with support for
// re-signing binaries via libcodedirectory.
CCTOOLS_LDFLAGS_CODEDIR_YES = ${TOOLCHAIN_DIR}/usr/lib/libcodedirectory.dylib -rpath @executable_path/../../lib
CCTOOLS_LDFLAGS_CODEDIR = ${CCTOOLS_LDFLAGS_CODEDIR_${CCTB_MACOS}${CCTB_XCODE}}
OTHER_LDFLAGS = ${inherited} ${CCTOOLS_LDFLAGS_CODEDIR}
